.btn {
  display: block;
  min-width: 150px;
  border: none;
  padding: 10px 20px;
  border-radius: 15px;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 700;
  font-style: normal;
  color: white;
  text-align: center;
  margin: 0px auto;
  cursor: pointer;
}
.primary {
  background-color: green;
}
.secondary {
  background-color: red;
}
