.product {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 12px;
  padding: 15px;
  border: 1px solid black;
  border-radius: 5px;
  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &-title {
      font-size: 18px;
      font-weight: 800;
      color: black;
    }
  }

  &__price {
    font-size: 18px;
    font-weight: 800;
    color: red;
  }
}
.product__image-goods {
  width: 130px;
  height: 130px;
  transition: 0.3s;
}
.product__image-goods:hover {
  scale: 1.3;
}
