.modal.show {
  position: fixed;
  top: 0px;
  right: 0px;
  width: 100vw;
  height: 100vh;
  z-index: 100;
}
.modal__overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  right: 0px;
  background-color: rgba(0, 0, 0, 0.1);
}
.modal__content {
  position: relative;
  background-color: #ed4040;
  color: white;
  border-radius: 5px;
  width: 460px;
  min-height: 150px;
  border: none;
  margin: 50px auto;
  &-top {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80px;
    background-color: #d53939;
  }
  &-header {
    margin: 50px auto;
    padding: 10px;
    font-family: Roboto;
    font-size: 24px;
    font-weight: 700;
    font-style: normal;
    text-align: center;
  }
  &-text {
    font-family: Roboto;
    font-size: 19px;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    margin: 30px;
  }
  &-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-bottom: 20px;
  }
}

.modal__close-btn {
  font-size: 45px;
  height: 96px;
  color: black;
  cursor: pointer;
}

// .modal__btn {
//   font-family: Roboto;
//   font-size: 17px;
//   font-weight: 400;
//   font-style: normal;
//   text-align: center;
//   color: white;
//   width: 105px;
//   height: 40px;
//   border-radius: 5px;
//   border: none;
//   cursor: pointer;
// }
