.contactform {
  display: block;
  width: 50%;
  margin: 0 auto 25px;
  padding: 15px;
  background-color: rgb(127, 255, 148);
  border: 1px solid black;
  border-radius: 5px;

  &__title {
    font-family: Roboto;
    font-size: 30px;
    font-weight: 700;
    font-style: normal;
    text-align: center;
    color: black;
    text-decoration-line: underline;
  }
  &__form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    &-datas {
      // display: flex;
      // align-items: center;
      // gap: 15px;

      &-label {
        display: block;
        font-family: Roboto;
        font-size: 20px;
        font-weight: 400;
        font-style: normal;
        text-align: center;
        text-decoration-line: underline;
        color: black;
      }
    }
  }
  .form-control {
    text-align: center;
  }
  .invalid-feedback {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    color: red;
  }
}
