.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  margin-bottom: 20px;
  background-color: grey;

  &__logo-name {
    font-family: Roboto;
    font-size: 32px;
    font-weight: 700;
    font-style: normal;
    text-align: center;
    color: white;
  }

  &__nav {
    list-style: none;
    display: flex;
    gap: 15px;
    a.active {
      color: red;
    }
  }

  &__bascket {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    gap: 15px;
    cursor: pointer;
  }

  &__bascket-img {
    font-size: 50px;
  }
  
  &__bascket-text {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    color: white;
  }
}
.symbol-star svg {
  width: 24px;
  height: 24px;
  fill: red;
  cursor: pointer;
}
.symbol-star-amount {
  font-size: 16px;
  font-weight: 700;
  color: red;
}

a {
  text-decoration: none;
  text-transform: capitalize;
  font-family: Roboto;
  font-size: 28px;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  color: white;
}
a:hover {
  color: yellow;
}
