.App {
  text-align: center;
}

.title-products {
  margin: 0 0 35px 0;
  font-size: 50px;
  font-weight: 800;
}
.no-items {
  font-size: 20px;
  color: red;
  text-align: center;
}
.btn.disabled {
 pointer-events: none;
  opacity: 0.5;
}
